@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url('images/background.jpg');
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.search {
  position: relative;
  height: 50px;
}
.search .input {
  background-color: #fff;
  border: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 18px;
  padding: 15px;
  height: 40px;
  width: 50px;
  transition: width 0.3s ease;
}

.search .btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 50px;
  transition: width 0.3s ease;
}
.btn:focus,
.input:focus {
  outline: none;
}
.search.active .input {
  width: 230px;
}
.search.active .btn {
  transform: translateX(198px);
}
