@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.meme-generator {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 5vh auto;
  width: 600px;
  border: 2px solid #b77b82;
}

.meme-generator img {
  height: 430px;
  object-fit: cover;
}

.meme-generator .generate-meme-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  margin: 24px 0;
  font-size: 20px;
  color: #fff;
  background: #b77b82;
  cursor: pointer;
  transition: all 400ms ease;
}

.meme-generator .generate-meme-btn:hover {
  background: #9d6b71;
}

.meme-generator .meme-author {
  margin: 8px;
}
