@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(137, 106, 165);
}

.box {
  width: 550px;
  display: flex;

  /* border: 2px solid pink; */
  text-align: center;
  background-color: white;
  padding: 40px;
}
.box h2 {
  color: blueviolet;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}
.box p {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}
.box input {
  font-size: 18px;
  width: 60%;
  border: none;
  padding: 15px 20px;
  margin-right: 10px;
  background-color: whitesmoke;
  outline: none;
}
.box button {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: rgb(121, 47, 190);
}
