@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-bg-color: #eee;
  --secondary-bg-color: #fff;

  --primary-text-color: #666;
  --secondary-text-color: #999;
}
body.dark {
  --primary-bg-color: #222;
  --secondary-bg-color: #333;

  --primary-text-color: #fff;
  --secondary-text-color: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body {
  background: var(--primary-bg-color);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 100vh;
  overflow: hidden; */
}
.container {
  margin-top: 50px;
  padding: 80px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.content {
  width: 400px;
  background: var(--secondary-bg-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content p {
  line-height: 1.5;
  color: var(--primary-text-color);
}
#theme-toggler {
  position: fixed;
  font-size: 30px;
  top: 15px;
  right: 25px;
  padding: 15px 20px;
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
