@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-color: #333;
}
.card-wrapper {
  display: flex;
}
.card {
  width: 300px;
  height: 300px;
  margin: 30px;
  background: #fff;
  position: relative;
  text-decoration: none;
}
.card::before,
.card::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid #ffff00;
  transition: 0.5s ease-out;
  z-index: -1;
}
.card::before {
  background-color: #ffff00;
  top: -15px;
  left: -15px;
}
.card::after {
  bottom: -15px;
  right: -15px;
}

.content {
  padding: 20px;
  color: black;
}
.content h2 {
  margin: 20px 0;
}
.card:hover::before {
  top: 15px;
  left: 15px;
}
.card:hover::after {
  bottom: 15px;
  right: 15px;
}
