@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: #333;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotateY(180deg);
}
.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
  width: 50px;

  margin-right: 7px;
}

.rating label:before {
  content: "\f005 ";
  font-family: fontAwesome;
  position: relative;
  font-size: 50px;
  color: #101010;
}

.rating label:after {
  content: "\f005 ";
  font-family: fontAwesome;
  position: absolute;
  font-size: 50px;
  color: rgb(224, 186, 49);
  top: 0; /*put elem on to of the before star and have it 0 opaque*/
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.rating label:hover:after, /* label after elem on hover*/
.rating label:hover ~ label:after, /*~ sibling selector*/
.rating input:checked ~ label:after {
  opacity: 1;
}
