@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper {
  width: 100%;
}
.slider {
  max-width: 1300px;
  width: 85%;
  margin: auto;
  /* padding: 0 30px; */
}

/*cards here*/
.slider .card {
  background: #fff;
  flex: 1;
  margin: 0 10px;
}

.slider .card .img {
  height: 300px;
  width: 100%;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content {
  padding: 10px 20px;
}
.card .content .title {
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(141, 141, 30);
  line-height: 20px;
}
.card .content p {
  text-align: start;
  margin: 10px 0;
}
.card .content .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button {
  background: rgb(141, 141, 30);
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}
.card .content .btn button:hover {
  transform: scale(0.9);
}

/*cards end here*/

.owl-dots {
  text-align: center;
  margin-top: 40px;
}
.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid rgb(141, 141, 30) !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover {
  background: rgb(141, 141, 30) !important;
}
